body {
  background-color: #1a507b;
  padding-top: 45px;
}

.b-universe {
  position: relative;
  background-image: url(galaxy.jpg);
	background-position: center center;
	background-size: cover;
  max-width: 1000px;
  height: 80%;
  left: 0;
  right: 0;
  margin: 0 auto; 
}

.b-universe__img {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0px;  
  left: 0px;
  transform: translate(580px, 150px);
  transition: transform .2s 0 ease-in-out;
}



