body {
	height: auto;
	padding: 50px;
	font-family: sans-serif;
	background: #1e4542;
}

.b-shooter {
	background-image: url(../img/cemetery-cartoon-background.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	max-width: 1000px;
	height: 850px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.b-shooter__aim {
	position: absolute;
	height: 90px;
	width: 90px;
	transform: translate(345px, 180px);
	transition: transform .2s ease-in-out;
	pointer-events: none;
	z-index: 1;
}

.b-shooter__img-aim {
	height: 100%;
	width: 100%;
}

.b-shooter__img-fire {
	position: absolute;
	left: 0;
	bottom: 0;
	visibility: hidden;
	transition-timing-function: ease-in;
	transition: opacity;
}

.b-shooter__img-ghost {
	position: absolute;
	height: 120px;
	width: 120px;
	transition: opacity;
	pointer-events: none;
	animation: ghost-movements 2s ease-out infinite;
}

.b-shooter__health {
	position: absolute;
	height: 50px;
	width: 180px;
	flex-direction: column;
	flex-wrap: wrap;
	display: flex;
	right: 0;
	bottom: 0;
	background-color: #000000;
	margin:  10px;
	border-radius: 20px;
	/*opacity: .5;*/
	align-items: center;
	justify-content: center;
}

.b-shooter__health-icon {
	height: 40px;
	width: 40px;
	fill: #e53935;
}

.b-shooter__progress {
	position: absolute;
	height: 750px;
	width: 40px;
	display: flex;
	flex-wrap: wrap;
	background-color: #000000;
	margin: 50px 0 0 10px;
	border-radius: 20px;
	opacity: .5;
	align-items: center;
	justify-content: center;
}

.b-shooter__progress-icon {
	height: 45px;
	width: 35px;
}

@keyframes ghost-movements {
	0% {
		transform: scale(1,1) translateY(0);
	}

	10% {
		transform: scale(1.1, .9) translateY(0);
	}

	30% {
		transform: scale(.9, 1.1) translateY(-50px);
	}

	50% {
		transform: scale(1.05, .95) translateY(50px);
	}

	80% {
		transform: scale(.9, 1.1) translateY(-30px);
	}

	100% {
		transform: scale(1) translateY(0);
	}

}