body {
	height: auto;
	padding: 50px;
	font-family: sans-serif;
	background: #1e4542;
}

.b-shooter {
	background-image: url(../img/cemetery-cartoon-background.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	max-width: 1000px;
	height: 850px;
	margin: 0 auto;
	position: relative;
}

.b-shooter__aim {
	position: absolute;
	height: 90px;
	width: 90px;
	transform: translate(345px, 180px);
	transition: transform .2s ease-in-out;
	pointer-events: none;
	z-index: 1;
}

.b-shooter__img-aim {
	height: 100%;
	width: 100%;
}

.b-shooter__img-fire {
	position: absolute;
	left: 0;
	bottom: 0;
	visibility: hidden;
	transition-timing-function: ease-in;
	transition: opacity;
}

.b-shooter__img-ghost {
	position: absolute;
	height: 120px;
	width: 120px;
	/*opacity: 1;*/
	transition: opacity;
	pointer-events: none;
}