body {
    background-color: #f6f6f6;
    padding: 50px 0;
    font-family: sans-serif;
}

.conteiner {
    max-width: 1200px;
    margin: 0 auto;
}

.user {
    padding: 0 30px;
    width: 33.3333%;
}

.user:nth-child(n+4){
    margin-top: 40px;
}

button {
    border: 1px solid #000000;
    padding: 5px;
    background-color: #e53935;
    top: 5px;
    left: 155px;
    position: relative;
}

.male {
    background-color: #4cb7e5;
    border: 1px solid #000000;
    border-radius: 3%;
    text-align: center;
}

.female {
    background-color: #ff98e7;
    border: 1px solid #000000;
    border-radius: 3%;
    text-align: center;
}

.email {
    background-color: #242b2b;
}

.user__inner-info {
    text-align: center;
    padding: 10px;
}

img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.preloader {
    display: flex;
    justify-content: center;
   }

.preloder-img {
    height: 250px;
    width: 250px;
}


/*Через делегирование повесить на кнопку с крестиком событие click для удаления пользователя.*/

/*Запрос на удаление слать на этот эндпойнт*/
/*https://httpstat.us/200*/

/*Это будет post-запрос, телом которого будет JSON с полем id. Значение для поля id берётся, из user.login.uuid*/

/*Когда запрос на удаление пользователя вернулся с положительным ответом, следует удалить элемент списка из DOM.*/