form {
    background-color: goldenrod;
    width: 700px;
    padding: 30px;
  }

button {
    background-color: cyan;
    width: 400px;
    height: 40px;
    margin-top: 20px;
}

div {
    background-color: dodgerblue;
    margin-bottom: 15px;
    height: 40px;
}

p {
    background-color: blue;
    margin-bottom: 15px;
    height: 40px;
}